<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
	<link rel="stylesheet" type="text/css" href="../ressources/formulaire.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="logo" href="#">DigiFemmes<span>.</span></a>
            <ul class="menu-links">
                <li><a href="/">Acceuil</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
	<div class="container">
        <div class="contact-box">
            <div class="gauche"></div>
            <div class="droite">
                <h2>Ajoutez vos Compétences</h2>
                <input type="text" class="field" placeholder="Nom">
                <input type="text" class="field" placeholder="Prénoms">
                <input type="text" class="field" placeholder="Profession">
                <input type="email" class="field" placeholder="Email">
                <textarea class="field area" placeholder="Ajouter Vos Compétences"></textarea>
                <form class="form">
                  <div class="file-upload-wrapper" data-text="Selectionner votre fichier!">
                    <input name="file-upload-field" type="file" class="file-upload-field" value="">
                  </div>

                <button class="btn">Enregistrer les informations</button>
            </div>
        </div>
    </div>
  
</body>
</html>