<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../ressources/styles.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <a class="logo" href="#">DigiFemmes<span>.</span></a>
            <ul class="menu-links">
                <span id="close-menu-btn" class="material-symbols-outlined">close</span>
                <li><a href="#">Acceuil</a></li>
                <li><a href="#">A propos</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <span id="hamburger-btn" class="material-symbols-outlined">menu</span>
        </nav>
    </header>

    <section class="hero-section">
        <div class="content">
            <h2>Compétences Digitales Féminines</h2>
            <p>
                Explorez l'excellence féminine dans le digital. Féminines du Digital : Célébrons les compétences,
                inspirons l'aveni
            </p>
            <a href="form">
                <button>Rejoignez-nous</button>
            </a>
        </div>
    </section>
    <section class="body">
        <div class="wrapper">
            <div class="wrapper-descrip">

                <h3>Ce que Nous Proposons pour Vous</h3>
                <div>
                    <h5>Partage de competence</h5>
                    <p>
                        Découvrez et partagez une variété de compétences, des langages de programmation aux techniques de conception, en passant par la cybersécurité et bien plus encore.
                    </p>
                </div>
                <div>
                    <h5>Partage de competence</h5>
                    <p>
                        Découvrez et partagez une variété de compétences, des langages de programmation aux techniques de conception, en passant par la cybersécurité et bien plus encore.
                    </p>
                </div>
            </div>
            <div class="">
                <div class="wrapper-img" style="width: 80%; height: auto;">
                </div>
            </div>
        </div>
    </section>
    <section class="section3">
        <h1 id="tle"> Témoignages Inspirants Des Femmes</h1>
        <div class="sectiondiv">
            <div class="bloc"> 
                <img src="ressources/new.jpg"id="img1" alt="">
                <h3 id="titre" >Kone adi,developpeuse</h3>
                <div class="p">
                    <p >
                        Les témoignages sont de courtes citations
                        de personnes qui aiment votre marque.
                        C'est une façon de convaincre les clients 
                        d'essayer vos services.
                    </p>
                </div>
                    
            </div>
            
            <div class="bloc">
                <img src="ressources/new.jpg" id="img1" alt="">
                <h3 id="titre"> Kouakou makissi,developpeuse</h3>
                <div class="p">
                    <p >
                        Les témoignages sont de courtes citations
                        de personnes qui aiment votre marque.
                        C'est une façon de convaincre les clients 
                        d'essayer vos services.
                    </p>
                </div>
            </div>

            <div class="bloc">
                <img src="ressources/new.jpg" id="img1" alt="">
                <h3 id="titre"> Kouakou makissi,scientist</h3>
                <div class="p">
                    <p >
                        Les témoignages sont de courtes citations
                        de personnes qui aiment votre marque.
                        C'est une façon de convaincre les clients 
                        d'essayer vos services.
                    </p>
                </div>
            </div>

            <div class="bloc">
                <img src="ressources/new.jpg" id="img1" alt="">
                <h3 id="titre"> Kouakou makissi,scientist</h3>
                <div class="p">
                    <p >
                        Les témoignages sont de courtes citations
                        de personnes qui aiment votre marque.
                        C'est une façon de convaincre les clients 
                        d'essayer vos services.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer>
    </footer>
</body>

</html>